.drugs-list {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.drugs-list h1 {
    text-align: center;
    margin-bottom: 20px;
}

.drug-card {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.drug-card h2 {
    margin-top: 0;
}

.drug-card p {
    margin: 5px 0;
}

.drug-card p strong {
    display: inline-block;
    width: 200px;
}

.drug-card button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #03a4ed;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.drug-card button:hover {
    background-color: #0288d1;
}
