.doctors-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F4F1BB;  
  color: #5D576B;  
  padding: 20px;
}

.filter-container {
  text-align: center;
  margin-bottom: 20px;
}

.filter-button {
  background-color: #9BC1BC;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  color: #5D576B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter-button.active,
.filter-button:hover {
  background-color: #ED6A5A;
  color: #FFFFFF;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #E6EBE0;  
}

th {
  background-color: #9BC1BC;  
  color: #ED6A5A;  
}

tbody tr:hover {
  background-color: #E6EBE0;  
}

.search-and-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #E6EBE0;
  border-radius: 4px;
  width: 50%;
}
.sort-button {
  background-color: #F4F1BB;
  border: 1px solid #E6EBE0;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #5D576B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 4px;
}

.sort-button:hover {
  background-color: #9BC1BC;
  color: #FFFFFF;
}